<!DOCTYPE html>
<html ng-app="meetupDemo">
<head>
	<title> Mean Demo </title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>

</head>
<body >
	<!-- Meetup View -->
	<div ng-controller="meetupsController">
		<h1> There are {{ meetups.length }} meetups </h1>
		<ul>
			<li ng-repeat="meetup in meetups">
			{{ meetup.name }}
			</li>
		</ul>

		<form ng-submit="createMeetup()">
			<input type="text" name="name+var" placeholder="Meetup name" ng-model="meetupName" > </input>
			<button type="submit">Add</button>
		</form>
	</div>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/meetupsController.js"></script>

</body>
</html>